# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env

# IDE
.vscode/settings.json
.idea/

# Database
*.db
*.sqlite

# Azure
.azure/

# OS
.DS_Store
Thumbs.db

# Test
.coverage
htmlcov/
.pytest_cache/

# Docker
*.log
